.card-box {
  overflow: hidden;
  height: 700px;
  margin: 0 50px;
  background: #050404;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 35px 35px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 15px;
  background: #FEFFFE;
}
