.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}


.home-video-wrapper {
height: 100vh;
display: flex;
padding: 350px 0;
}




.home h1 {
  margin: 0;
  padding-left: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  color: #F7FFF7;
  font-family: 'Kalam', cursive;
}


.home p {
  padding-left: 15px;
  margin-bottom: 8px;
  width: 220px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 0px;
}
