<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-plug">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "plug_logo.png" %>
    <%= image_tag "spotify.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--
  <nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />


    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><li>My profile</li></a>
      <a href="#"><li>Events</li></a>
      <a href="#"><li>Library</li></a>
    </ul>
  </div>
</nav>
 -->


</div>
