
  <div class="cta">
    <h2>See the events around you to check in</h2>
    <p>Connect with people at the event and share your music</p>
  </div>

  <div class="container">
    <% if @main_event.nil? == false %>
    <div class="row">
      <div class="col-12 col-lg-6">
        <%= render "events/card", event: @main_event %>
      </div>


      <% @sub_events.each do |sub_event| %>
          <div class="col-12 col-lg-6">
            <%= render "events/card", event: sub_event %>
          </div>
      <% end %>
    </div>
    <% else %>
    <div class="col-12 col-lg-6">
      <div class="card-product">
        <p>No event found</p>
        <%= image_tag("artist.png") %>
      </div>
    </div>
    <% end %>
  </div>
</div>
