
<div class="cta">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <h1> <%=@event.venue %></h1></div>
</div>

  <div class="container">
  <div class="row justify-content-center">
    <h2>Top 20 songs</h2>
    <%= link_to "Go to library", library_path, class: "btn btn-gradient" %>
  </div>
</div>



  <% @tracks.each do |track| %>
  <% number_of_likes = @track_counter[track.id][0] %>
  <%= render "shared/track_card", locals: { track: track, event: @event, likes: number_of_likes } %>
  <% end %>

