
<div class="home-video-wrapper">
  <%= video_tag "concert.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: 'home_video' %>
  <div class="container">
    <h1><strong>PLUG</strong></h1>
    <h1> yourself into fresh, niche, curated music list!</h1>
    <p>Get your playlist once enjoying yourself at the concert!</p>
    <%= link_to "Get started", events_path, class: "btn btn-gradient" %></h1>
  </div>
</div>
  <% unless @tracks.nil? %>
    <div >
        <% @tracks.each do |track| %>
          <% track.artists.each do |artist| %>
          <%= render "shared/artist_card", artist: artist %>
          <% end %>
        <% end %>
    </div>

    <div >
      <% @tracks.each do |track| %>
      <%= render "shared/track_card", track: track %>
      <% end %>
    </div>
  <% end %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Plug
  </div>
</div>
