<div class="home-video-wrapper">
  <%= video_tag "concert.mp4", autoplay: "", loop: "", muted: "", playsinline: '', class: 'home_video' %>
  <div class="container">
    <div class="home">
    <h1><strong>PLUG</strong></h1>
    <p>Take a peek at others' music while enjoying a concert</p>
    <p>Create your next playlist in a heartbeat!</p>
    </div>
    <%= link_to "See events", scan_events_path, class: "btn btn-gradient", id: "event-index" %>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
