  <div class="container">
    <div class="col-10 col-lg-12">
      <%= form_for :playlist, as: :get, url: export_path, method: :get, html: { class: "new_post", id: "new_post" } do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <div class=decorated-box>
        <nav>
          <div class="container">
            <div class="row justify-content-center">
              <div class="title" >Your favourite songs by event</div>
            </div>
            <div class="row justify-content-center">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tracks</a>
              </div>
            </div>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <% @tracks.each do |track| %>
              <%= render "shared/track_card", locals: { track: track } %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
