<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    <div class="cta"><h2>Create your new playlist on Spotify!</h2></div>
      <%= form_for :playlist, as: :get, url: export_path, method: :get, html: { class: "new_post", id: "new_post" } do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', placeholder: "Type playlist name" %>
          <%= f.submit class: 'btn btn-gradient' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <% @tracks.each do |track| %>
    <%= render "shared/library_card", locals: { track: track } %>
  <% end %>
</div>









