<div class="cta"><h2 align="center">Finding music festivals near you.</h2></div>
<div class="logo"></div>
<div class="outer-circle"></div>
<div class="outer-circle-2"></div>

<script>
  window.setTimeout(function(){
    window.location.href = "/events" + window.location.search;
  }, 800);
</script>
