.card-category {
  // background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h1 {
  font-size: 36px;
  font-weight: bold;
  color: $white;

}

.card-category p {
  font-size: 16px;
  color: $white;
  opacity: .7;

}

// @media (min-device-width:600px) {
//     img[data-src-600px] {
//         content: attr(data-src-600px, url);
//     }
// }
// @media (min-device-width:800px) {
//     img[data-src-800px] {
//         content: attr(data-src-800px, url);
//     }
// }
