.card-product {
  height: 200px;
  width: 100%;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 50px;
  // overflow: hidden;
}


.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(40%);
}

.card-product:hover img {
filter: grayscale(0);
transform: scale(1.1);
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #E4C1F9;
}


.card-product p {
  font-size: 12px;
  color: #E4C1F9;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-product .confirm-button {
//   // position: absolute;
//   // right: 0px;
//   // top: -20px;
//   // width: 80px;
//   padding: 8px 24px;
//   // background-color: #734B6D;
//   border: none;
//   color: white;
//   height: 40px;
//   text-align: center;
//   text-decoration: none;
//   // display: inline-block;
//   font-size: 16px;
//   border-radius: 5%;
//   transition-duration: 0.4s;
//   text-decoration: none;
//   overflow: hidden;
//   cursor: pointer;

// }

.card-product .card-product-infos {
  padding: 16px;

}

.card-product .card-product-infos p {
  color: $white;
  font-size: 16px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 5px;
  margin-top: 8px;


}

.card-product .card-product-infos h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #E4C1F9;

}

.card-product .card-product-infos h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $white;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 5px;
  margin-top: 8px;
}


body {
  background: #242331;
}

// @media (min-device-width:600px) {
//     img[data-src-600px] {
//         content: attr(data-src-600px, url);
//     }
// }
// @media (min-device-width:800px) {
//     img[data-src-800px] {
//         content: attr(data-src-800px, url);
//     }
// }
