.cta p {
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: $white;
  opacity: 0.6;

}



.cta h2 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #E4C1F9;

}

.cta h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: $white;
  opacity: 0.9;

}


