.cta p {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: $gray;

}



.cta h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #E4C1F9;

}

.cta h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: $white;

}
