.card-event {
  overflow: hidden;
  height: 500px;
  // margin: 50px 0;
  background: $black;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
  // padding: 35px 35px;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  // border-radius: 25px;
  // background: #FEFFFE;
}

.card-event > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-event h1 {
  font-size: 36px;
  font-weight: bold;
  color: #403D58;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-event p {
  font-size: 18px;
  opacity: .7;
  color: #C9C9EE;
}

.card-event .card-event-title {
  color: $blue;
}

.card-event .card-event-title p {

}

.card-event .card-event-venue {

}

.card-trip-venue .card-trip-venueimg {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
