.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

// .row-equal .card {
//    width: 100%;
// }

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

.carousel-inner img {
  margin: auto;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

 .card {
  margin-bottom: 50px;
}

.card-caroussel {
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 140px;

}

.card-caroussel h1 {
  font-size: 16px;
  margin: 10px;
  color: $white;

}

.card-caroussel h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
  color: $sp-orange;
}

.card-caroussel h3 {

  font-size: 14px;
  margin: 5px;
  color: $white;
  line-height: 1.4;
  opacity: .8;
  position: absolute;
  bottom: 104px;
  right: 10px;
}

.card-caroussel h4 {
  font-size: 12px;
  margin: 5px;
  color: $white;
  line-height: 1.4;
  opacity: .8;
  position: absolute;
  bottom: 84px;
  right: 10px;
}

.card-caroussel p {
  color: $white;
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-weight: bold;
}

.card-caroussel h5 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  opacity: .8;
}

