
.navbar-light .navbar-nav .active > .nav-link {
  color: $light-purple;
}

.navbar-light .navbar-nav .nav-link {
  color: $light-purple;

}

.navbar-plug {
  justify-content: space-between;
  background: $black;
}

.navbar-plug .navbar-collapse {
  flex-grow: 0;
}

.navbar-plug .navbar-brand img {
  width: 40px;
  color: $gray;
}

