
.navbar-light .navbar-nav .active > .nav-link {
  color: $sp-orange;
}

.navbar-light .navbar-nav .nav-link {
  color: $sp-orange;

}

.navbar-plug {
  justify-content: space-between;
  background: #0f0017d1;
}

.navbar-plug .navbar-collapse {
  flex-grow: 0;
}

.navbar-plug .navbar-brand img {
  width: 40px;
  color: $light-purple;
}


.navbar-toggler-icon {
  background-color: $gray;
}


