
.navbar-light .navbar-nav .active > .nav-link {
  color: #deddfa;
}

.navbar-light .navbar-nav .nav-link {
  color: #deddfa;

}

.navbar-plug {
  justify-content: space-between;
  background: #191919;
}

.navbar-plug .navbar-collapse {
  flex-grow: 0;
}

.navbar-plug .navbar-brand img {
  width: 40px;
  color: #deddfa;
}
